.cabecalho{
    background-color: #383D58;
    color: white;
    display: flex;
    justify-content: space-around;
}
.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding:24px 0;
    font-size: 26px;
}

.escola{
    display: flex;
    color: white;
    background-image: radial-gradient(circle at 64.87% 18.11%, #d1ffff 0, #a3eaff 16.67%, #6fd2ff 33.33%, #00b8ff 50%, #009ef6 66.67%, #0086ed 83.33%, #0070e4 100%);
    justify-content: center;
    align-items: center;
    padding: 0 24px;


}


.escola-conteudo {
    width: 35% ;
}
.escola-titulo{
    padding: 24px 0;
}

body{
    font-family:"Poppins", sans-serif;
}
.estudante-imagem{
    width: 120px;
}